.functions
	margin 25px 0
	box-reset()
	list-style: none
	font-size: 0

	margin-left: -10%
	margin-top: 40px

	&__item
		display inline-block
		vertical-align: top

		font-size: sizeText

		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box

		padding-left: column
		width: 40%

		margin-bottom: 40px
		margin-left: 10%

	&__preview
		float left
		margin-left: - column

	&__caption
		font-size: 18px
		line-height: 1.2

	&__descriptionCaption
		font-size: 18px
		margin: 0 0 18px 0
		text-align: center

	&__description
		font-size: sizeText
		margin: 18px 0 32px 0
		text-align: center	

.lt-ie8
	.functions__item
		display: inline
		zoom: 1		