paddingCell = 10px

.defs
	width 100%
	margin 10px 0
	color #4e4e4e

	&__term
		vertical-align top

	&__termInner
		position relative
		overflow hidden

		&:after
			width 100%
			height 0
			border-bottom 1px dotted 

			position absolute
			bottom 0.2em
			margin-left paddingCell

			content ""

	&__content
		width 1%
		padding-left paddingCell
		white-space nowrap
		vertical-align bottom
		text-align right

	&_big

		.defs__termInner,
		.defs__content
			font-size 24px
