.foot
	background: #56657d
	padding: 50px 0

	text-align: center
	color: #cfdff0

	&__inner
		padding: 0 columnGap

	a 
		color: white

	p
		box-reset()

	&__line
		margin: 30px 40%	

	&__logoWrapper
		overflow: hidden
		position: relative
		bottom: -21px
		margin-top: -21px

	&__copyrights
		text-align: right	

	&__nav
		position: relative	
