.subscribe
	
	position relative

	padding-right 2*columnWidth + 3*columnGap
	
	&__text,
	&__submit
		font-size 12px
		line-height 24px

	&__submit
		position absolute
		right 0
		top 0	
		width 2*columnWidth + 2*columnGap

.lt-ie9
	.subscribe__text
		height 34px		