.checkList
	box-reset()

	padding-left: column
	font-size sizeText

	list-style none

	&:before
		content ""
		
		float left
		margin-left - column
		width 45px
		height 42px

		background url(../img/common-sprite.png) -60px -40px no-repeat
	
	&__item
		margin 1.5em 0

	&__caption
		font-size 18px

	p
		margin 0.4em 0		


