.form 
	
	box-reset()

	fieldset
		box-reset()
		border: 0

	&__line
		position relative
		margin 1em 0

	&__submit
		border 0
		-webkit-appearance none

	&__text
		box-reset()

		display block
		width 100%
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		border 1px solid #f4f5f6
		padding 5px 10px
		
		border-radius 4px
		box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.35))

		font-style italic
	
	&__checkboxWrapper
		margin 10px 0

	&__label
		display inline-block
		vertical-align bottom
		line-height 16px

	&__searchButton
		position relative
		box-reset()

		width 30px
		height 30px

		background url("../img/common-sprite.png") 0 -136px no-repeat

		cursor pointer

	//mods

	&_search

		.form__text
			padding-right 30px
			line-height 30px
			height 30px

		.form__searchButton
			position absolute
			right 0
			top 0		


//custom form elements

.checker,
.radio
	position relative
		
	display inline-block
	vertical-align middle

	width 20px
	height 20px
	margin 0 10px

	border-radius(4px)
	box-shadow(inset 0 1px 3px rgba(0,0,0,0.35))	

	background white
	
	&:first-child
		margin-left 0

	span
		display inline-block
		width 20px
		height 20px
		background url("../img/common-sprite.png") -999px 0 no-repeat

		&.checked
			background-position: -112px 0


	input
		position absolute
		left 0
		right 0
		top 0
		bottom 0

		opacity(0)	

.radio
	
	border-radius(20px)

	span.checked
		background-position: -112px -24px


.no-boxshadow
	.checker,
	.form__text
		outline: 1px solid lightgray

.lt-ie8
	.checker,
	.checker span,
	.form__label
		display inline
		zoom 1
				

