- var stylesheet	= "css/" + projectName + ".min.css"
- var script		= "js/" + projectName + ".min.js"
include ../data/index
include ../b/layout/layout

!!!
html
	head
		link(href=stylesheet, type="text/css", rel="stylesheet")
		title= title
	body.layout
		+layout(title, description)

		script(src=script)